* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Display', serif;
}

.navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    height:80px;
    z-index: 1;
    width:100vw;
    padding-right: 0px;
}

.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    padding-left: 9vw;
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: fixed;

}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #f7bb62;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: #00ff00;
}

/* .navbar__links:hover {
    color: #ffffff;
    transition: all 0.3s ease;
} */

.navbar__links:hover {

    color: #fdfdfd;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 12px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    animation: rainbow .5s linear 0s infinite;
    animation-direction: alternate;
    color: rgb(218, 210, 210);

}

.button:hover {
    animation: rainbow .5s linear 0s infinite;
    animation-direction: alternate;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    cursor: pointer;
}

.navbar_customs {
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
    transform: translate(-100px);
    height:80px;
}

#dvd {
    opacity: 0%;
}
#dvd.is-active {
    opacity: 100%;
}

#dvdbutton.is-active {
    animation: rainbow .5s linear 0s infinite;
    animation-direction: alternate;
}

#dvdbutton.is-active:hover {
    background: #141414;
    color: #cac8c8;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 100vw;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        padding-left: 0vw;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 100%;
        z-index: -1;
        background: #292826;
    }

    .navbar_customs {
        opacity: 0%;
    }
    .navbar__menu.active {
        background: #292826;
        top: 100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        
    }


}


.sidebar {
    margin-top:75px;
    display: flex;
    flex-direction: row;
    height: 80vh;
    max-width: 7em;
    position: fixed;
    padding: 0 1rem;
}

.sidebar-socials li{
    color: transparent;
}
.sidebar--links {
    color:#dad6d2
}
.sidebar--links:hover {
    color: #62d9f7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fa-soundcloud {
    transform: translate(-2px)
}
.sidebar-socials {
    min-width: 40px;
    color: #202020;
}

.underline {
    border-right: 1px solid #f7bb62;
    transform: translate(7px)
}

.maincontent {
    display: flex;
    flex-direction:row;
    width:100%;
    height:100vh;
}

body {
    /* background-color: #1e1d24; */
    max-width:100vw;
    padding: 1rem 0rem;
    animation: backgroundshift 5s infinite;
    animation-direction: alternate;
}

.header-link {
    height: 30px;
    margin-left: 65px;
    transform: rotate(90deg);
    transform-origin: top left;
}

.vertical-header {
    color: rgb(51, 160, 100);
    
    height: 1.2em;
    margin-top: 0;
    white-space: nowrap;
    margin-left:0.4em;
}

h2 {
    font-size: 3rem;
}

.dvdbouncer {
    transform: translate(7em);
    height: 100vh;
    width: 100vw;
    margin-top:5em;
    z-index:-999;
}

#lossah {
    position:relative;
    height: 100%;
    width: 100vw;
    z-index:-999;
}
.tv {
    position:relative;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 0vh;
    border-color: transparent;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 0.25vh,
      rgba(255, 255, 255, 0.2) 0.25vh,
      rgba(255, 255, 255, 0.2) 0.5vh
    );
    opacity: 0%;
    z-index: -999;
  }

.tv img {
    filter: Invert();
    max-width: 7vh;
    animation: dvdlogochanger .5s linear 0s infinite;
    transition: ease;
    animation-direction: alternate;
  }
  
  /* hero section */

  h1 {
      font-size: 5rem;
      color: rgb(0, 255, 0);
  }
  .actualcontent {
      margin-top: 80px;
      padding-left:130px;
      padding-top: 0vh;
      align-items: center;
      justify-content: center
  }

  /* .actualcontent h1 {
      color: #dad6d2;
      font-size: 6rem;
      font-family: 'Roboto Mono', monospace;
      width: 500px;
  }

  .actualcontent h2 {
    color: #dad6d2;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
} */

.imagebox {
    flex-basis: 70%;
    order: 2;
}

.imagebox img {
    min-width: 50vw;
    height: auto;
    max-width: 40%;
    z-index: -999;
}

.wrapper {
    /* padding-top: 100px;
    height: 100vh; */
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo h1 {
    width: 8.3ch;
    animation: typing 0.8s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 15px solid;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 5rem;
    color: rgb(232, 234, 235);
  }

  .typing-demo {
      font-size:3rem;
  }
  .typing-demo h2 {
    transition: all 4s ease;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    animation: welcomeappear 10s 1;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @keyframes welcomeappear {
    0% {
        color: transparent;
      }
    100% {
        color: #fff;
    }
}
@media screen and (max-width: 960px) {
    .actualcontent h1 {
        font-size: 3rem;
    }

    .actualcontent h2 {
        font-size: 1.8rem;
    }

    .actualcontent {
        padding-left: 120px;
    }

    .wrapper {
        padding-top: 80px;
        height: 100vh;
        display: inline;
    }

    .navbar_customs {
        padding-left: 0%;
    }

}



@keyframes backgroundshift {
    from {background-color: #211f2b;}
    to {background-color: rgb(18, 32, 44);}
}

@keyframes dvdlogochanger {
    from {filter: invert(48%) sepia(65%) saturate(3207%) hue-rotate(50deg) brightness(95%) contrast(120%);}
    to {filter: invert(10%) sepia(0%) saturate(100%) hue-rotate(300deg) brightness(1000%) contrast(0%);}
}

@keyframes rainbow {
    from {
      background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
  }

  @keyframes rainbowcolor {
    from {
      color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
  }